<!-- Query Display -->
<div class="h-full w-full terminal-display overflow-auto">
  <div class="p-3 backdrop-blur-sm">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        <span class="text-lg font-medium text-gray-300">Terminal</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col h-full w-full">
    <div class="mockup-code w-full">
      <pre data-prefix="$"><code class="text-green-500">{{
            'sdfsdf'
          }}</code></pre>
    </div>
  </div>
  <!-- <svg
    class="inline w-3 h-3 ml-2 text-zinc-500 transform transition-transform duration-200 float-right"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M19 9l-7 7-7-7"
    ></path>
  </svg> -->
</div>
