.mockup-code {
  /* background-color: black/20; */
  background-color: #131313 !important;
  flex: 1;
  overflow: auto;
  border-radius: 0.5rem;
}

.mockup-code svg {
  background-color: rgb(255, 255, 255) !important;
}
