.schema-tree {
  font-family: "Inter", sans-serif;
  background: transparent;
  border-radius: 0.75rem;
  /* color: #ffffff; */
}

.mat-tree-node {
  padding-left: 0.5rem;
  display: flex;
  border-left: 2px solid #5f5f5f;
  /* align-items: center; */

  transition: all 0.2s ease;
}

.mat-tree-node:hover {
  cursor: pointer;
  background-color: #353535;
}

.node-icon {
  margin-right: 0.5rem;
}

.node-label {
  font-weight: 500;
  color: #ffffff;
  font-size: 0.875rem;
}

.database-node .node-icon {
  color: #5f5f5f;
}

.table-node {
  display: list-item;
  /* background: var(--zinc-100); */
  /* border-left: 2px solid #5f5f5f; */
}

.table-node .node-icon {
  color: #5f5f5f;
}

.column-node {
  padding-left: 0.5rem;
  /* border-left: 2px solid #5f5f5f; */
  /* background-color: #222222; */
}

.column-node:hover {
  /* border-left: 2px solid #5f5f5f; */
  cursor: pointer;
  background: #353535;
}

.tree-invisible {
  display: none;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  background: transparent;
  color: #ffffff;
  transition: 0.2s;
}

.toggle-button:hover {
  cursor: pointer;
  background: #353535;
  color: #ffffff;
}

mat-icon {
  color: #5f5f5f;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}
