<div class="h-screen w-screen bg-[rgb(255, 30, 86)">
  <nz-splitter nzLayout="horizontal" class="h-full">
    <nz-splitter-panel
      nzDefaultSize="20%"
      nzMinSize="15%"
      nzMaxSize="40%"
      class="p-8"
    >
      <nz-splitter nzLayout="vertical" class="h-full">
        <nz-splitter-panel nzDefaultSize="30%" nzMinSize="20%" nzMaxSize="100%">
          <div
            class="flex items-center min-h-14 justify-center gap-2 h-14"
          >
            <span class="text-lg font-medium text-gray-300">Schema Tree</span>
          </div>
          <app-schema-tree [schemaTree]="schemaExplorer()"></app-schema-tree>
        </nz-splitter-panel>
      </nz-splitter>
    </nz-splitter-panel>

    <nz-splitter-panel nzDefaultSize="100%" nzMinSize="60%" nzMaxSize="85%">
      <nz-splitter nzLayout="vertical" class="h-full">
        <nz-splitter-panel nzDefaultSize="80%" nzMinSize="40%" nzMaxSize="80%">
          <nz-splitter nzLayout="horizontal" class="h-full">
            <nz-splitter-panel
              nzDefaultSize="100%"
              nzMinSize="50%"
              nzMaxSize="100%"
            >
              <div class="h-full query-section">
                <div class="h-[calc(100%)]">
                  <app-code-ide
                    (triggerQuery)="triggerQuery($event)"
                  ></app-code-ide>
                </div>
              </div>
            </nz-splitter-panel>
            <nz-splitter-panel
              nzDefaultSize="100%"
              nzMinSize="15%"
              nzMaxSize="40%"
            >
              <app-ai-gen></app-ai-gen>
            </nz-splitter-panel>
          </nz-splitter>
        </nz-splitter-panel>

        <nz-splitter-panel nzDefaultSize="45%" nzMinSize="20%" nzMaxSize="100%">
          <nz-splitter nzLayout="horizontal" class="h-full">
            <nz-splitter-panel
              nzDefaultSize="70%"
              nzMinSize="50%"
              nzMaxSize="100%"
            >
              <div class="h-[calc(100%)]">
                <app-response-table></app-response-table>
              </div>
            </nz-splitter-panel>
            <nz-splitter-panel
              nzDefaultSize="30%"
              nzMinSize="50%"
              nzMaxSize="100%"
            >
              <div class="h-[calc(100%)]">
                <app-json-editor></app-json-editor>
              </div>
            </nz-splitter-panel>
          </nz-splitter>
        </nz-splitter-panel>
      </nz-splitter>
    </nz-splitter-panel>
  </nz-splitter>
</div>
