<div
  class="h-full w-full terminal-display overflow-auto"
  *ngIf="getTableData().headers.length > 0"
>
  <div class="flex flex-col h-full w-full">
    <div class="mockup-code w-full">
      <div class="">
        <table class="mt-6 w-full text-left whitespace-nowrap">
          <thead class="border-b border-white/10 text-sm/6 text-white">
            <tr>
              <th
                *ngFor="let header of getTableData().headers"
                scope="col"
                class="py-4 pr-4 pl-4 sm:pl-6 lg:pl-8"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-white/5">
            <tr *ngFor="let row of getTableData().rows">
              <td
                *ngFor="let cell of row"
                class="py-4 pr-4 pl-4 sm:pl-6 lg:pl-8 text-sm/6 text-white"
              >
                <div class="truncate font-mono">
                  {{ formatCellValue(cell) }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  class="h-full w-full terminal-display overflow-auto flex items-center justify-center"
  *ngIf="getTableData().headers.length === 0"
>
  <div class="text-gray-400 text-sm">No query results to display</div>
</div>
