<div class="max-w-[1800px] mx-auto w-full py-10 flex flex-col gap-10 px-12">
  <div class="flex flex-col gap-0.5">
    <h1 class="text-xl font-semibold text-zinc-800 dark:text-white">
      Databases
    </h1>
    <p class="text-sm text-zinc-500 dark:text-zinc-400">
      Here you can see all the databases in your server.
    </p>
  </div>
  <div
    class="space-y-3 gap-5 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-12 xl:grid-cols-12"
  >
    <!-- <app-dashboard-comparison
      class="col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-8 xl:col-span-8 h-full"
      [comparisonData]="[]"
    /> -->
    <!-- <app-dashboard-databases
      class="col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-4 xl:col-span-4 h-full"
      [databasesInServer]="[]
    /> -->

    <!-- <app-dashboard-activities
      class="col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-8 xl:col-span-12 h-full"
      [recentActivities]="recentActivities()"
    /> -->

    <app-dashboard-chart
      class="col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-6 xl:col-span-6 h-full w-full"
    />
  </div>
</div>
